*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #cee2b2;
    color:      #1a2806;
    
}
.container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
h1{
    font-size: 3rem;
}
label{
    font-size: 1.5rem;
    font-weight: 700;
}
input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffff;
}

button {
    padding: 0.5rem;
    background-color: #3d173c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
}
@media(max-width:320px){
    .container {
        margin: 2rem;
    }
    
    h1{
        font-size: 4rem;
        text-align: center;
    }
    label{
        font-size: .88rem;
        font-weight: 700;
    }
    input{
        padding: 0.5rem;
    border-radius: 5px;
    }
    #message{
        margin-top: 1rem;
        font-size: 1.2rem;
           
    }
}
@media(max-width:375px){
    .container {
        margin: 2rem;
    }
    
    h1{
        font-size: 3rem;
    }
    label{
        font-size: .88rem;
        font-weight: 700;
    }
    input{
        padding: 0.5rem;
    border-radius: 5px;
    }
    #message{
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 900;
           
    }
}
@media(max-width:425px){
  
    .container {
        margin: 2rem;
    }
    
    h1{
        font-size: 1.3rem;
    }
    label{
        font-size: .88rem;
        font-weight: 700;
    }
    input{
        padding: 0.5rem;
    border-radius: 5px;
    }
    #message{
        margin-top: 1rem;
        font-size: 1.2rem;
           
    }
}